<a href="https://colab.research.google.com/github/Drey-Tee/Data_Structures_And_Algorithms/blob/main/Python_Crash_Practices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_float = 32.85
print(type(my_float))

<class 'float'>

In [ ]:
my_float = (32.85)
print(type(my_float))

<class 'float'>

In [ ]:
first_name = 'Mike'
last_name = 'Noble'
print(first_name + " " + last_name)

Mike Noble

In [ ]:
print(len("Mike Noble"))

10

In [ ]:
print("Mike Noble".replace("Noble","Annan"))

Mike Annan

In [ ]:
list_1 =["mike","anna","noble"]
print(list_1)

['mike', 'anna', 'noble']

In [ ]:
my_tuple = ("bmw","honda","toyota")
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('bmw', 'honda', 'toyota')

In [ ]:
ama_age = 20
naa_age = 22
if ama_age < naa_age:
  print("Naa is older than Ama.")
else:
  print("Ama is the oldest.")

Naa is older than Ama.

In [ ]:
#conditionals
ama_age = 22
naa_age = 22
if ama_age < naa_age:
  print("Naa is older than Ama.")
elif ama_age == naa_age:
  print("They are both of the same age.")
else:
  print("Ama is the oldest.")

They are both of the same age.

In [ ]:
#Ternary Operators
a = 25
b = 50
x = 1
y = 2
result = x if a > b else y
print(result)

2

In [ ]:
a = 25
b = 50
x = 1
y = 2
results = x if a < b else y
print(results)

1

In [ ]:
#Lists
#initializing an empty list
people = []

In [ ]:
#creating a list
people = ["Mike","Noble", "Duodu"]
print(people)

['Mike', 'Noble', 'Duodu']

In [ ]:
#adding a new member to the list
people.append("Annan")
print(people)

['Mike', 'Noble', 'Duodu', 'Annan']

In [ ]:
#inserting a member to a specific list
people.insert(1,"Kwame")
print(people)

['Mike', 'Kwame', 'Noble', 'Duodu', 'Annan']

In [ ]:
#updating a member in the list
people[1] = "sirnobys"
print(people)

['Mike', 'sirnobys', 'Noble', 'Duodu', 'Annan']

In [ ]:
#deleting a member from the list
people.remove('sirnobys')
print(people)

['Mike', 'Noble', 'Duodu', 'Annan']

In [ ]:
#deleting every member in the list
people.clear()
print(people)

[]

In [ ]:
#retrieving a member in the list using index
people = ["Mike", "Noble", "Annan"]
print(people)

['Mike', 'Noble', 'Annan']

In [ ]:
print(people[2])

Annan

In [ ]:
#checking to see if a member exist in a list
if 'Mike' in people:
  print("Mike exists!!")
else:
  print("Mike is unknown.")

Mike exists!!

In [ ]:
#Tuples
#initializing empty tuple
homies = ()
print(homies)

()

In [ ]:
#creating a tuple
homies = ('sirnobys','kwame','broken_teeth')
print(homies)

('sirnobys', 'kwame', 'broken_teeth')

In [ ]:
#tuples are immutable, they can't be updated,deleted or appended but there's a trick to update a tuple, by converting it to a list and back to a tuple
homies_list = list(homies)
homies_list[2] = "Mine"
homies = tuple(homies_list)
print(homies)

('sirnobys', 'kwame', 'Mine')

In [ ]:
#retrieving a member from a tuple
homies = ('sirnobys','kwame','broken_teeth')
print(homies[1])

kwame

In [ ]:
#check if a given member already exists in a tuple
if 'sirnonbys' in homies:
  print("Sirnobys is a member")
else:
  print("We don't know him.")

We don't know him.

In [ ]:
#check if a given member already exists in a tuple
if 'sirnobys' in homies:
  print("Sirnobys is a member")
else:
  print("We don't know him.")

Sirnobys is a member

In [ ]:
#Sets
#initializing an empty set
fam = set()
print(fam)

set()

In [ ]:
#creating an initial set
fam = {"Drey", "Tee"}
print(fam)

{'Drey', 'Tee'}

In [ ]:
fam.add("Audy")
print(fam)

{'Audy', 'Drey', 'Tee'}

In [ ]:
fam.update(["Nuerki","Tetteh"])
print(fam)

{'Drey', 'Tee', 'Nuerki', 'Audy', 'Tetteh'}

In [ ]:
#sets do not allow repetition so you cannot add the same member more than once
fam.add("Nuerki")
print(fam)

{'Drey', 'Tee', 'Nuerki', 'Audy', 'Tetteh'}

In [ ]:
#sets are not mutable so members can only be added or deleted.
#deleting in a set
fam.remove("Tetteh")
print(fam)

{'Drey', 'Tee', 'Nuerki', 'Audy'}

In [ ]:
#deleting all members in a set.
fam.clear()
print(fam)

set()

In [ ]:
#Dictionary
#initializing an empty dictionary
fams = {}
print(fams)

{}

In [ ]:
#creating a dictionary
fams = {"sirnobys":24 , "msnobys": 25}
print(fams)

{'sirnobys': 24, 'msnobys': 25}

In [ ]:
#adding in a dictionary
fams["dee"] = 26
print(fams)

{'sirnobys': 24, 'msnobys': 25, 'dee': 26}

In [ ]:
#updating in a dictionary
fams["sirnobys"] = 25
print(fams)

{'sirnobys': 25, 'msnobys': 25, 'dee': 26}

In [ ]:
#deleting in a dictionary
fams.pop("dee")
print(fams)

{'sirnobys': 25, 'msnobys': 25}

In [ ]:
#deleting all items in a dictionary
fams.clear()
print(fams)

{}

In [ ]:
fams = {"sirnobys":24 , "msnobys": 25}
sirnobys_age = fams['sirnobys']
print(sirnobys_age)

24

In [ ]:
#While loops
#squared of a number
number = 1
while number <=5: 
  print(number, 'squared is', number**2)
  number = number + 1

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

In [ ]:
#else block
number = 1
while number <=5:
  print(number, 'squared is', number**2)
  number = number + 1
else:
  print("no numbers left!!")

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25
no numbers left!!

In [ ]:
#how to break out of a while loop
number = 1
while number <=5:
  print(number, 'squared is', number**2)
  number = number + 1
  if number == 4:
    break

1 squared is 1
2 squared is 4
3 squared is 9

In [ ]:
#how to skip an item in a while loop
number = 0
while number < 5:
  number = number + 1
  if number == 4:
    continue
  print(number, 'squared is', number**2)

1 squared is 1
2 squared is 4
3 squared is 9
5 squared is 25

In [ ]:
#for loops
#loop over a list
cars = ["lexus","bmw", "tesla"]
for car in cars:
  print(car)

lexus
bmw
tesla

In [ ]:
#using the range function for loop
for number in range(10):
  print(number)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#defining a start and stop for looping a range
for number in range(2,10):
  print(number)

2
3
4
5
6
7
8
9

In [ ]:
#setting a step
for number in range(10,20,3):
  print(number)

10
13
16
19

In [ ]:
#else block : when items in a list are finished, else is used
for number in range(10,20,3):
  print(number)
else:
  print("All items in range are exhausted")

10
13
16
19
All items in range are exhausted

In [ ]:
#how to break out of a loop
cars = ["lexus","bmw", "tesla"]
for car in cars:
  print(car)
  if car == "tesla":
    break

lexus
bmw
tesla

In [ ]:
#how to skip an item in a for loop
cars = ["lexus","bmw", "tesla"]
for car in cars:
  
  if car == "lexus":
    continue
  print(car)

bmw
tesla

In [ ]:
#loops over loops : nested for loops
car_models =[["lexus 1","lexus 2","lexus 3"],["bmw 4","bmw 5","bmw 6"],["tesla 7","tesla 8","tesla 9"]]
for brand in car_models:
  for model in brand:
    print(model)

lexus 1
lexus 2
lexus 3
bmw 4
bmw 5
bmw 6
tesla 7
tesla 8
tesla 9

In [ ]:
#loop over a tuple
people = ("Bob","Anna","Ama")
for person in people:
  print(person)

Bob
Anna
Ama

In [ ]:
#loop over a set
people = {"Bob","Anna","Ama"}
for person in people:
  print(person)

Ama
Bob
Anna

In [ ]:
#loop over a dictionary
#to print the keys
people = {'Bob':30, 'Mary':25}
for person in people:
  print(person)

#to print the values
people = {'Bob':30, 'Mary':25}
for person in people:
  print(people[person])

Bob
Mary
30
25

In [ ]:
#Functions
def my_name():
  print("My name is Drey Tee.")
my_name()

My name is Drey Tee.

In [ ]:
#return a value
def my_surname():
  return("My surname is Tetteh")
print(my_surname())

My surname is Tetteh

In [ ]:
#return multiple values
def return_numbers():
  return 10,2
print(return_numbers())

(10, 2)

In [ ]:
#Arguments
#one argument
def my_number(num):
  return 'My number is ' + str(num)
print(my_number(23))

My number is 23

In [ ]:
#two or more arguments
def sum(num_1,num_2,num_3):
  return num_1 + num_2 + num_3
print(sum(2,6,4))

12

In [ ]:
#default value argument
def my_num(number =45):
  return 'My number is: ' +str(number)
print(my_num())
print(my_num(30))

My number is: 45
My number is: 30

In [ ]:
#keyword or named argument
def two_nums(first_num,second_num):
  return 'The numbers are: ' + str(first_num) + ' and ' + str(second_num)
print(two_nums(first_num = 30, second_num = -5))

The numbers are: 30 and -5

In [ ]:
#any number of arguments
def my_numbers(*args):
  for number in args:
    print(number)
my_numbers(10,2,3)

10
2
3

In [ ]:
#keyword arguments
def my_numbers(**kwargs):
    for key, value in kwargs.items():
        print(key)
        print(value)
my_numbers(first_number=30, second_number=10)

first_number
30
second_number
10

In [ ]:
def my_sport(sport):
    print('I like ' + sport)
my_sport('football')
my_sport('swimming')

I like football
I like swimming

In [ ]:
def my_numbers(numbers):
    for number in numbers:
        print(number)
my_numbers([30, 10, 64, 92, 105])

30
10
64
92
105

In [ ]:
#Scope
#global scope
name = "Drey T."
def print_name():
  print("My name is: " + name)
print_name()

My name is: Drey T.

In [ ]:
#local sope
def p_name():
  name = "Drey Tee"
  print("My name is " + name)
p_name()

My name is Drey Tee

In [ ]:
#mixing scopes
name = "Sarah"
def print_name():
  name = 'Bob'
  print('My name is ' + name)
print(name)
print_name()

Sarah
My name is Bob

In [ ]:
#List Comprehensions
#calculating the cube of a number
#regular
numbers = [1,2,3,4,5]
list_numbers = []

for n in numbers:
  list_numbers.append(n**3)

print(list_numbers)

[1, 8, 27, 64, 125]

In [ ]:
#using list comprehension
#calculating the cube of a number
numbers = [1,2,3,4,5]
new_list = []
new_list = [n**3 for n in numbers]
print(new_list)

[1, 8, 27, 64, 125]

In [ ]:
#calculating the cube of a number only if it"s greater than 3
#regular way
numbers = [1,2,3,4,5]
new_list = []
for n in numbers:
  if n > 3:
    new_list.append(n**3)
print(new_list)

[64, 125]

In [ ]:
#calculating the cube of a number only if it"s greater than 3
#using list comprehension
numbers = [1,2,3,4,5]
new_list = []
new_list = [n**3 for n in numbers if n>3]
print(new_list)

[64, 125]

In [ ]:
#Calling functions using list comprehension
numbers = [1,2,3,4,5]
new_list = []
def cube(number):
  return number**3

new_list = [cube(n) for n in numbers if n>3]
print(new_list)

[64, 125]

In [ ]:
#Lambda Functions

In [ ]:
def get_squared_numbers(numbers):
  squared_numbers = []
  for n in numbers:
    squared_numbers.append(n*n)
  return squared_numbers

In [ ]:
numbers = [2,5,8,9]
get_squared_numbers(numbers)

[4, 25, 64, 81]

In [ ]:
#Data Structures[Arrays]

In [ ]:
# Let us say your expense for every month are listed below,
# January - 2200
# February - 2350
# March - 2600
# April - 2130
# May - 2190
# Create a list to store these monthly expenses and using that find out,

# 1. In Feb, how many dollars you spent extra compare to January?
# 2. Find out your total expense in first quarter (first three months) of the year.
# 3. Find out if you spent exactly 2000 dollars in any month
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this

**Question 1**
Let us say your expense for every month are listed below,
 January - 2200
 February - 2350
 March - 2600
 April - 2130
 May - 2190
 Create a list to store these monthly expenses and using that find out,

 1. In Feb, how many dollars you spent extra compare to January?
 2. Find out your total expense in first quarter (first three months) of the year.
 3. Find out if you spent exactly 2000 dollars in any month
 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
 5. You returned an item that you bought in a month of April and
 got a refund of 200$. Make a correction to your monthly expense list
 based on this

In [ ]:
expenses = [2200,2350, 2600, 2130, 2190]
print(expenses)

[2200, 2350, 2600, 2130, 2190]

In [ ]:
extra_dollars = expenses[1] - expenses[0]
print(extra_dollars)

150

In [ ]:
first_quarter_expenses = expenses[0] + expenses[1] + expenses[2]
print(first_quarter_expenses)

7150

In [ ]:
exactly_two_k = 2000 in expenses
print(exactly_two_k)

False

In [ ]:
expenses.append(1980)
print(expenses)

[2200, 2350, 2600, 2130, 2190, 1980]

In [ ]:
actual_expenses = expenses[3] - 200
print(actual_expenses)

1930

In [ ]:
expenses[3] = actual_expenses
print(expenses)

[2200, 2350, 2600, 1930, 2190, 1980]

**Question 2**
You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
Using this find out,
1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [ ]:
heroes=['spider man','thor','hulk','iron man','captain america']
print(len(heroes))

5

In [ ]:
heroes.append('black panther')
print(heroes)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [ ]:
heroes.remove('black panther')
print(heroes)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [ ]:
heroes.insert(3, 'black panther')
print(heroes)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [ ]:
heroes[1:3] = ['doctor strange']
print(heroes)

['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']

In [ ]:
heroes.sort()
print(heroes)

['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

**Question 3**
Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [ ]:
max = int(input("Enter max number: "))

odd_numbers = []

for i in range(1, max):
    if i % 2 == 1:
        odd_numbers.append(i)

print("Odd numbers: ", odd_numbers)

Enter max number: 1000
Odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999]

In [ ]:
max = int(input("Enter max number: "))

odd_numbers = []

for i in range(1, max):
    if i % 2 == 1:
        odd_numbers.append(i)

print("Odd numbers: ", odd_numbers)

Enter max number: 20
Odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

**Introducing Deque For Linked List Implementaion**

In [ ]:
from collections import deque
deque()

deque([])

In [ ]:
deque(["abcde"])

deque(['abcde'])

In [ ]:
deque("abc")

deque(['a', 'b', 'c'])

In [ ]:
llist = deque('abcdef')
llist

deque(['a', 'b', 'c', 'd', 'e', 'f'])

In [ ]:
llist.append('g')
llist

deque(['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [ ]:
llist.pop()
llist

deque(['a', 'b', 'c', 'd', 'e', 'f'])

In [ ]:
llist.appendleft('q')
llist

deque(['q', 'a', 'b', 'c', 'd', 'e', 'f'])

In [ ]:
llist.popleft()
llist

deque(['a', 'b', 'c', 'd', 'e', 'f'])

**Creating a Linked List**

In [38]:
class Node:
  def __init__(self, data):
    self.data = data
    self.next = None

  def __repr__(self):
    self.head = None

class LinkedList:
  def __init__(self):
    self.head = None

  def __repr__(self):
    node = self.head
    nodes = []
    while node is not None :
      nodes.append(node.data)
      node = node.next
    nodes.append("None")
    return "-->".join(nodes)

In [ ]:
linked_list = LinkedList()
linked_list

None

In [ ]:
first_node = Node("Drey")
linked_list.head = first_node
linked_list

Drey-->None

In [ ]:
second_node = Node("Tee")
third_node = Node("Tett")
first_node.next = second_node
second_node.next = third_node
linked_list

Drey-->Tee-->Tett-->None

**Traversing a Linked List**

In [41]:
def __iter__(self):
    node = self.head
    while node is not None:
        yield node
        node = node.next